body {
    background-color: rgb(7, 2, 2);
    color: white;
    font-family: 'Bebas Neue', Arial, sans-serif;
}

/* ======================= MAIN TITLE ======================= */

/* Navbar adjustments */
.navbar {
    justify-content: center; /* Center the navbar content */
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.navbar-brand img {
    max-height: 80px;
}

/* Centering navbar elements */
.navbar-nav {
    justify-content: center; /* Center navbar items */
    flex-direction: row; /* Ensure items are in a row */
}

/* Adjusting navbar toggler for better alignment */
.navbar-toggler {
    margin-left: 1rem;
}

.navbar .nav-link {
    color: white !important;
    margin: 0 10px; /* Adjust spacing between nav items */
    font-size: 30px; /* Adjust font size of nav elements */
}

.dropdown-item {
    font-size: 20px;
}

/* Apply hover colors to nav items */
.navbar .nav-item:nth-child(odd) .nav-link:hover {
    color: rgb(230, 18, 18) !important;
}

.navbar .nav-item:nth-child(even) .nav-link:hover {
    color: blue !important;
}

/* Dropdown item hover colors */
.dropdown-menu .dropdown-item:nth-child(odd):hover {
    background-color: rgb(230, 18, 18);
}

.dropdown-menu .dropdown-item:nth-child(even):hover {
    background-color: blue;
    color: white;
}

/* Container for text, facilitating overlap */
.text-column {
    position: relative; /* Establishes a positioning context for absolute positioning */
    z-index: 2; /* Ensures text layer is above the image */
}

/* Wrapper for text to manage overlap and positioning */
.text-wrapper {
    position: absolute;
    right: -70%; /* Negative margin to overlap the image */
    top: 50%;
    transform: translateY(-50%);
    z-index: 10; /* Ensure text is above the image */
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background for readability */
    padding: 0 20px; /* Padding around text */
    padding-left: 200px;
}

/* Adjustments for title and tagline for readability */
.welcome-title, .tagline {
    color: white; /* Ensures text is visible on dark background */
    font-size: 1.5em; /* Starts resizing dynamically with the viewport width */
}

.welcome-title {
    color: rgb(230, 18, 18);
    font-size: 2vw; /* Responsive font size */
    line-height: 1.1;
}

.tagline {
    font-size: 3.5vw; /* Responsive font size */
    font-weight: bold;
    line-height: 1.1;
}

.spartan { color: rgb(0, 0, 235); }
.champ { color: rgb(230, 18, 18); }

/* Boxer image adjustments to ensure it's on the right and properly sized */
.boxer-image {
    width: 100%; /* Full width of its column */
    height: auto; /* Maintain aspect ratio */
    opacity: 0.6; /* Adjust for desired transparency */
    margin-left: auto; /* Push image to the right */
}


/* Ensuring text overlaps the image entirely on smaller screens */
@media (max-width: 992px) { /* Adjusting the breakpoint for medium-sized screens */
    .navbar-brand img {
        max-height: 50px; /* Slightly smaller logo for medium screens */
    }

    .navbar-brand {
        transform: translateX(-600%) !important;
    }

    .navbar-toggler {
        transform: translateX(600%) !important;
    }

    .navbar .nav-link {
        color: white !important;
        margin: 0 10px; /* Adjust spacing between nav items */
        font-size: 1rem; /* Adjust font size of nav elements */
    }

    /* Wrapper for text to manage overlap and positioning */
    .text-wrapper {
        right: -20%; /* Negative margin to overlap the image */
        top: 100%;
        transform: translateY(-50%);
        z-index: 10; /* Ensure text is above the image */
        background: rgba(0, 0, 0, 0.5); /* Semi-transparent background for readability */
        padding: 0 20px; /* Padding around text */
    }
    .welcome-title, .tagline {
        font-size: calc(16px + 1vw); /* Responsive font size with a minimum */
        line-height: normal; /* Default line height */
    }

    /* Boxer image adjustments to ensure it's on the right and properly sized */
    .boxer-image {
        width: 150%; /* Full width of its column */
        transform: translateX(-35%);
        height: auto; /* Maintain aspect ratio */
        opacity: 0.6; /* Adjust for desired transparency */
        object-position: right !important;
    }

    .dropdown-item {
        font-size: 15px;
    }
}

@media (max-width: 768px) { /* Adjustments specifically for small screens */
    .navbar-brand img {
        max-height: 60px; /* Smaller logo for small screens */
    }

    .navbar-brand {
        transform: translateX(-150%) !important;
    }

    .navbar-toggler {
        transform: translateX(200%) !important;
    }

    .text-column, .text-wrapper {
        position: static; /* Default positioning for better flow */
        transform: translateY(100%); /* Ensures vertical centering is accurate */
    }

    .text-wrapper {
        text-align: center; /* Centers text for small screens */
        transform: translateY(-100%);
        background-color: rgba(0,0,0,0.5); /* Adds background for readability */
    }

    .navbar .nav-link {
        font-size: 3vw; /* Larger font size for better readability on small screens */
        padding: 10px 0; /* Adjusts padding for vertical spacing */
    }

    .navbar-nav {
        flex-direction: column; /* Stacks navbar items vertically on small screens */
    }

    /* Boxer image adjustments to ensure it's on the right and properly sized */
    .boxer-image {
        width: 100%; /* Full width of its column */
        transform: translateX(0%);
        height: auto; /* Maintain aspect ratio */
        opacity: 0.6; /* Adjust for desired transparency */
        margin-left: auto; /* Push image to the right */
    }

    .dropdown-item {
        font-size: 15px;
    }
}

/* ======================= END OF MAIN TITLE ======================= */



/* ========================== ABOUT US ============================== */

.title-wrapper .section-title {
    background: url('./static/images/title-bg.png') no-repeat center;
    background-size: contain; /* Adjusts the background size to match the title */
    display: inline-block;
    object-position: center;
    padding: 15px 20px; /* Adjust based on your background image */
    font-size: 45px;
}

.about-text-wrapper {
    position: relative; /* Keeps the text block positioned relative to its column */
    margin-left: 0%; /* Decreases the negative margin to move the wrapper to the right */
    width: 400% !important; /* Extends the width of the text wrapper */
}

.about-text-wrapper > div {
    background: rgba(0, 0, 0, 0.5) !important; /* Semi-transparent black background */
    padding: 20px; /* Adjust padding to control the inner content size */
    border-radius: 5px; /* Rounded corners for aesthetics */
    
    /* Positioning and size */
    position: absolute;
    height: 700px;
    right: 35%; /* Adjusts how far from the right edge of the column the content should start */
    top: 50%; /* Centers the content vertically */
    transform: translateY(-50%); /* Ensures vertical centering is accurate */
    width: 150%; /* Adjust width as needed */
}

.feature-item {
    background: rgba(66, 66, 66, 0.0); /* Light background for readability */
    padding: 10px; /* Adjust padding inside feature items */
    margin-bottom: 10px; /* Space between feature items */
    border-radius: 5px; /* Rounded corners */
    color: black; /* Text color */
    font-size: 40px; /* Larger font size for better visibility */
    max-width: 20%; /* Control the maximum width of the boxes */
    margin-left: auto; /* Center align the boxes by automatically adjusting the left margin */
    margin-right: auto; /* Center align the boxes by automatically adjusting the right margin */
}

.star-icon {
    color: gold; /* Star icon color */
    margin-right: 5px; /* Space between the star icon and the text */
}

.about-paragraph {
    font-size: 56px;
}

.about-paragraph-main {
    font-size: 56px;
    color:rgb(230, 18, 18) !important;
}

.about-img > img {
    width: 150% !important;
    height: auto !important; /* Maintains the aspect ratio */
    object-position: left !important; /* Aligns the image to the left */
    position: relative !important; /* Positions the image relative to its container */
    left: 0% !important; /* Adjusts the positioning to compensate for the increased width */
}

.btn-custom {
    background-color: rgb(230, 18, 18); /* Replace with the specific red color used on your website */
    color: #ffffff; /* White text color for contrast */
    border: 2px solid #0000ff; /* Replace with the specific blue color used for outlines on your website */
    font-size: 30px;
}

.btn-custom:hover {
    background-color: #b80202; /* A slightly darker red for the hover state */
    border-color: #0000e6; /* A slightly darker blue for the hover border */
    color: #ffffff; /* Maintains white text color on hover */
}

/* Ensuring text overlaps the image entirely on smaller screens */
@media (max-width: 992px) { /* Adjusting the breakpoint for medium-sized screens */

    .title-wrapper .section-title {
        background-size: contain; /* Adjusts the background size to match the title */
        display: inline-block;
        object-position: center;
        padding: 15px 10px; /* Adjust based on your background image */
        font-size: 30px;
    }
    
    
    .about-text-wrapper {
        position: relative; /* Keeps the text block positioned relative to its column */
        margin-left: 60%; /* Decreases the negative margin to move the wrapper to the right */
        width: 100% !important; /* Extends the width of the text wrapper */
        transform: translateY(-50%);
    }

    .about-paragraph-main {
        font-size: 20px;
    }

    .about-text {
        font-size: 12px;
    }

    .about-best-text > div {
        font-size: 12px;
    }

    .about-best-text {
        padding: 5px;
        transform: translateY(-25%);
    }
    
    .about-text-wrapper > div {
        background: rgba(0, 0, 0, 0.5) !important; /* Semi-transparent black background */
        padding: 20px; /* Adjust padding to control the inner content size */
        border-radius: 5px; /* Rounded corners for aesthetics */

        
        /* Positioning and size */
        position: absolute;
        height: 260px;
        right: 25%; /* Adjusts how far from the right edge of the column the content should start */
        top: 50%; /* Centers the content vertically */
        transform: translateY(-99%); /* Ensures vertical centering is accurate */
        width: 100%; /* Adjust width as needed */
    }

    .feature-item {
        background: rgba(66, 66, 66, 0); /* Light background for readability */
        padding: 0px !important; /* Adjust padding inside feature items */
        margin-bottom: 0px !important; /* Space between feature items */
        border-radius: 0px; /* Rounded corners */
        color: black; /* Text color */
        font-size: 20px; /* Larger font size for better visibility */
        max-width: 25%; /* Control the maximum width of the boxes */
        margin-left: 0px; /* Center align the boxes by automatically adjusting the left margin */
        margin-right: auto; /* Center align the boxes by automatically adjusting the right margin */
    }

    .about-img {
        width: 150%;
    }

    .about-img > img {
        width: 100% !important;
        height: auto !important; /* Maintains the aspect ratio */
        object-position: left !important; /* Aligns the image to the left */
        position: relative !important; /* Positions the image relative to its container */
        left: 0% !important; /* Adjusts the positioning to compensate for the increased width */
    }

    .btn-custom {
        width: 25%;
        padding: 5px;
        font-size: 12px;
    }

    /* Gap size between elements*/
    .about-text-wrapper h2, .about-text-wrapper p, .about-text-wrapper .features-grid, .about-text-wrapper .btn-custom {
        line-height: 1; /* Reduces the line-height for a tighter text layout */
        margin-bottom: 0px; /* Reduces the bottom margin to bring elements closer */
    }
    
    .about-text-wrapper .features-grid .feature-item {
        margin-bottom: 0px; /* Further reduces the spacing between feature items if needed */
    }
    
}

@media (max-width: 768px) { /* Adjustments specifically for small screens */
    
    .title-wrapper .section-title {
        background-size: contain; /* Adjusts the background size to match the title */
        display: inline-block;
        object-position: center;
        padding: 15px 10px; /* Adjust based on your background image */
        font-size: 20px;
    }
    
    
    .about-text-wrapper {
        position: relative; /* Keeps the text block positioned relative to its column */
        margin-left: 60%; /* Decreases the negative margin to move the wrapper to the right */
        width: 100% !important; /* Extends the width of the text wrapper */
        transform: translateY(-50%);
    }

    .about-paragraph-main {
        font-size: 25px;
    }

    .about-text {
        font-size: 15px;
    }

    .about-best-text > div {
        font-size: 12px;
    }

    .about-best-text {
        padding: 5px;
        transform: translateY(-25%);
    }
    
    .about-text-wrapper > div {
        background: rgba(0, 0, 0, 0.5) !important; /* Semi-transparent black background */
        padding: 20px; /* Adjust padding to control the inner content size */
        border-radius: 5px; /* Rounded corners for aesthetics */

        
        /* Positioning and size */
        position: absolute;
        height: 330px;
        right: 30%; /* Adjusts how far from the right edge of the column the content should start */
        top: 50%; /* Centers the content vertically */
        transform: translateY(-110%); /* Ensures vertical centering is accurate */
        width: 200%; /* Adjust width as needed */
    }

    .feature-item {
        background: rgba(66, 66, 66, 0); /* Light background for readability */
        padding: 0px !important; /* Adjust padding inside feature items */
        margin-bottom: 0px !important; /* Space between feature items */
        border-radius: 0px; /* Rounded corners */
        color: black; /* Text color */
        font-size: 40px; /* Larger font size for better visibility */
        max-width: 25%; /* Control the maximum width of the boxes */
        margin-left: 0px; /* Center align the boxes by automatically adjusting the left margin */
        margin-right: auto; /* Center align the boxes by automatically adjusting the right margin */
    }

    .about-img > img {
        width: 100% !important;
        height: auto !important; /* Maintains the aspect ratio */
        object-position: left !important; /* Aligns the image to the left */
        position: relative !important; /* Positions the image relative to its container */
        left: 0% !important; /* Adjusts the positioning to compensate for the increased width */
    }

    .btn-custom {
        width: 25%;
        padding: 5px;
        font-size: 15px;
    }

    /* Gap size between elements*/
    .about-text-wrapper h2, .about-text-wrapper p, .about-text-wrapper .features-grid, .about-text-wrapper .btn-custom {
        line-height: 1.1; /* Reduces the line-height for a tighter text layout */
        margin-bottom: 0px; /* Reduces the bottom margin to bring elements closer */
    }
    
    .about-text-wrapper .features-grid .feature-item {
        margin-bottom: 0px; /* Further reduces the spacing between feature items if needed */
    }

}


/*================================ END OF ABOUT US ==========================*/

/*================================= CLASSES ======================================*/

.section-title {
    background: url('./static/images/title-bg.png') no-repeat center center;
    background-size: contain;
    display: inline-block;
    padding: 10px 30px;
}

/* Alternate border colors */
.card.border-primary {
    border-color: #007bff; /* Bootstrap primary blue */
}

.card.border-danger {
    border-color: #dc3545; /* Bootstrap danger red */
}

/* Adjust card image and body text */
.card-img-top {
    width: 75%;
    margin: 0 auto; /* Center the image */
}

.card-body h4 {
    color: rgb(255, 217, 135)
}

.card-body p {
    font-size: 18px; /* Adjust the font size as needed */
}

.class-card {
    flex: 1 0 21%; /* Adjust the percentage based on the number of cards per row you desire */
    margin: 0.5rem; /* Adjust the margin as needed */
    background-color: rgb(0, 0, 0, 0.7);
    height: 500px;
    position: relative;
}

.read-more-container {
    position: absolute; /* Position the Read More link absolutely within the card */
    transform: translateX(-5%);
    bottom: 15px; /* Adjust this value based on desired distance from the bottom */
    width: 100%; /* Ensure the container spans the entire width of the card */
}

.classes-read-more {
    font-size: 20px;
}

.card-4, .card-5 {
    transform: translateX(55%);
}

@media (max-width: 992px) {
    .class-card {
        flex: 1 0 45%; /* Larger percentage for fewer cards per row on medium devices */
        width: 110%;
        height: 450px;
    }

    .classes-section > div > div > h1 {
        font-size: 30px;
    }
}

@media (max-width: 768px) {
    .class-card {
        flex: 1 0 100%; /* 100% for single card per row on small devices */
        width: 100%;
        height: 500px;
        transform: translateX(0%);
    }

    /* Adjust card image and body text */
    .card-img-top {
        width: 50%;
        margin: 0 auto; /* Center the image */
    }

    .card-body p {
        font-size: 25px; /* Adjust the font size as needed */
    }

    .card-4, .card-5 {
        transform: translateX(0%);
    }
}

/*================================= END OF CLASSES =============================*/

/*================================ MEMBERSHIPS ================================*/

.section-title-membership {
    background: url('./static/images/title-bg.png') no-repeat center center;
    background-size: contain;
    display: inline-block;
    padding: 10px 30px;
    font-size: 38px;
}

.membership-text-wrapper {
    background: rgba(167, 0, 0, 0.5); /* Dark red background */
    color: white;
    padding: 20px;
    border-radius: 5px;
    height: 600px;
}

.membership-text-wrapper > h2 {
    color: rgb(255, 199, 79);
    text-align: center;
}

.membership-text-wrapper > p {
    font-size: 24px;
}

.membership-text-wrapper > .btn-custom {
    margin-top: 20px;
    font-size: 30px;
    display: block;
    text-align: center;
}

.membership-card {
    background: rgba(0, 0, 0);
    margin-top: 0px; /* Space between text wrapper and cards */
    height: 600px; /* Adjust based on content */
}

.membership-card .card-img-top {
    width: 70px; /* Adjust size of your icon */
    margin: 20px auto; /* Center icon */
    margin-bottom: 0px;
}

.membership-card-text-list {
    text-align: left;
    font-size: 20px;
    margin: 10px;
}

.card-body > .card-text {
    font-size: 20px;
}

.membership-text-list {
    font-size: 22px;
    color: rgb(255, 199, 79);
    margin: 5px;
}

.membership-text-list:last-child {
    margin-bottom: 20px; /* Adds space below the last list item */
}

.membership-card .card-title, .membership-card .price {
    margin-bottom: 15px;
}

.member-divider {
    margin-top: 15px; /* Adjust top margin */
    margin-bottom: 20px; /* Adjust bottom margin */
    border: 0; /* Remove default border */
    border-top: 1px solid #ccc; /* Small, light line */
    width: 50%; /* Adjust width as needed */
}


.membership-card .price {
    font-size: 20px; /* Make the price bigger */
    color: #919191; /* Price color */
}

.price-number-red {
    font-size: 34px;
    color: rgb(230, 18, 18);
}

.price-number-blue {
    font-size: 34px;
    color: rgb(21, 18, 230);
}

/* Adjustments for responsive behavior */
@media (max-width: 992px) {
    .membership-card {
        margin-top: 20px;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }

    .membership-text-wrapper > .btn-custom {
        width: 75%;
        margin-top: 50px;
        font-size: 30px;
        margin-left: auto;
        margin-right: auto;
    }

    .membership-text-wrapper {
        margin-top: 20px;
        width: 100%;
        height: 500px;
    }
}

@media (max-width: 768px) {
    .membership-card {
        margin-bottom: 20px;
    }

    .membership-text-wrapper > .btn-custom {
        width: 75%;
        margin-top: 12px;
        font-size: 30px;
        margin-left: auto;
        margin-right: auto;
    }
}

