body {
    background-color: rgb(7, 2, 2);
    color: white;
    font-family: 'Bebas Neue', Arial, sans-serif;
}

/* ======================= MAIN TITLE ======================= */

/* Navbar adjustments */
.navbar {
    justify-content: center; /* Center the navbar content */
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.navbar-brand img {
    max-height: 80px;
}

/* Centering navbar elements */
.navbar-nav {
    justify-content: center; /* Center navbar items */
    flex-direction: row; /* Ensure items are in a row */
}

/* Adjusting navbar toggler for better alignment */
.navbar-toggler {
    margin-left: 1rem;
}

.navbar .nav-link {
    color: white !important;
    margin: 0 10px; /* Adjust spacing between nav items */
    font-size: 30px; /* Adjust font size of nav elements */
}

.dropdown-item {
    font-size: 20px;
}

/* Apply hover colors to nav items */
.navbar .nav-item:nth-child(odd) .nav-link:hover {
    color: rgb(230, 18, 18) !important;
}

.navbar .nav-item:nth-child(even) .nav-link:hover {
    color: blue !important;
}

/* Dropdown item hover colors */
.dropdown-menu .dropdown-item:nth-child(odd):hover {
    background-color: rgb(230, 18, 18);
}

.dropdown-menu .dropdown-item:nth-child(even):hover {
    background-color: blue;
    color: white;
}

/* Ensuring text overlaps the image entirely on smaller screens */
@media (max-width: 992px) { /* Adjusting the breakpoint for medium-sized screens */
    .navbar-brand img {
        max-height: 50px; /* Slightly smaller logo for medium screens */
    }

    .navbar-brand {
        transform: translateX(-600%) !important;
    }

    .navbar-toggler {
        transform: translateX(600%) !important;
    }

    .navbar .nav-link {
        color: white !important;
        margin: 0 10px; /* Adjust spacing between nav items */
        font-size: 1rem; /* Adjust font size of nav elements */
    }
}

@media (max-width: 768px) { /* Adjustments specifically for small screens */
    .navbar-brand img {
        max-height: 60px; /* Smaller logo for small screens */
    }

    .navbar-brand {
        transform: translateX(-150%) !important;
    }

    .navbar-toggler {
        transform: translateX(200%) !important;
    }

    .text-column, .text-wrapper {
        position: static; /* Default positioning for better flow */
        transform: translateY(100%); /* Ensures vertical centering is accurate */
    }

    .navbar .nav-link {
        font-size: 3vw; /* Larger font size for better readability on small screens */
        padding: 10px 0; /* Adjusts padding for vertical spacing */
    }

    .navbar-nav {
        flex-direction: column; /* Stacks navbar items vertically on small screens */
    }

    .dropdown-item {
        font-size: 15px;
    }
}

/* ========================== ABOUT US ============================== */

.title-wrapper .section-title {
    background: url('./static/images/title-bg.png') no-repeat center;
    background-size: contain; /* Adjusts the background size to match the title */
    display: inline-block;
    object-position: center;
    padding: 15px 20px; /* Adjust based on your background image */
    font-size: 45px;
    position: relative;
    z-index: 2;
}

.about-us-full-width-image {
    position: relative;
    text-align: center;
    color: white;
}

.about-us-full-width-image img {
    width: 100%;
    height: auto;
    opacity: 0.6; /* Adjust for desired transparency */
}

.centered-text-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto !important;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background for text readability */
    padding: 20px;
    border-radius: 5px;
    z-index: 1;
}

.family-text {
    color: gold;
}

.about-paragraph {
    font-size: 56px;
}

.about-paragraph-main {
    font-size: 56px !important;
    color:rgb(230, 18, 18) !important;
}


.centered-text-wrapper h2 {
    font-size: 2.5rem; /* Adjust based on design */
}

.centered-text-wrapper p {
    font-size: 1.25rem; /* Adjust based on design */
}

.spartan { color: rgb(0, 0, 235); }
.champ { color: rgb(230, 18, 18); }

/* Adjustments for medium devices (tablets) */
@media (max-width: 1024px) {

    .title-wrapper .section-title {
        background-size: contain; /* Adjusts the background size to match the title */
        display: inline-block;
        object-position: center;
        padding: 15px 10px; /* Adjust based on your background image */
        font-size: 30px;
    }

    .centered-text-wrapper {
        width: 90%; /* Slightly narrower to fit smaller screens */
        height: auto;
        padding: 30px; /* More padding for better readability */
        font-size: 90%; /* Slightly smaller text */
        margin-top: 2%;
    }

    .about-paragraph-main {
        font-size: 30px !important;
        color:rgb(230, 18, 18) !important;
    }

    .family-text {
        font-size: 26px !important;
    }

    .about-text {
        font-size: 25px !important;
    }

    .feature-item {
        font-size: 25px; /* Smaller features list */
        padding: 8px;
    }
}

/* Adjustments for small devices (phones) */
@media (max-width: 768px) {
    .title-wrapper .section-title {
        background: url('./static/images/title-bg.png') no-repeat center;
        background-size: contain; /* Adjusts the background size to match the title */
        display: inline-block;
        object-position: center;
        padding: 10px 15px; /* Adjust based on your background image */
        font-size: 25px;
        position: relative;
        z-index: 2;
        transform: translateY(70%) !important;
    }

    .centered-text-wrapper {
        width: 90%; /* Slightly narrower to fit smaller screens */
        height: auto;
        padding: 30px; /* More padding for better readability */
        font-size: 90%; /* Slightly smaller text */
        margin-top: 12%;
    }

    .about-paragraph-main {
        font-size: 20px !important;
        color:rgb(230, 18, 18) !important;
    }

    .family-text {
        font-size: 18px !important;
    }

    .about-text {
        font-size: 16px !important;
    }

    .feature-item {
        font-size: 16px; /* Smaller features list */
        padding: 8px;
    }

    .about-us-full-width-image img {
        width: 100%;
        height: auto;
        opacity: 0.6; /* Adjust for desired transparency */
        transform: translateY(40%)
    }
}

/* Adjustments for small devices (phones) */
@media (max-width: 412px) {

    .title-wrapper .section-title {
        background-size: contain; /* Adjusts the background size to match the title */
        display: inline-block;
        object-position: center;
        padding: 15px 10px; /* Adjust based on your background image */
        font-size: 22px;
    }

    .centered-text-wrapper {
        width: 90%; /* Slightly narrower to fit smaller screens */
        height: auto;
        padding: 30px; /* More padding for better readability */
        font-size: 90%; /* Slightly smaller text */
        margin-top: 25%;
    }

    .about-paragraph-main {
        font-size: 20px !important;
        color:rgb(230, 18, 18) !important;
    }

    .family-text {
        font-size: 18px !important;
    }

    .about-text {
        font-size: 16px !important;
    }

    .feature-item {
        font-size: 16px; /* Smaller features list */
        padding: 8px;
    }

    .about-us-full-width-image img {
        width: 100%;
        height: auto;
        opacity: 0.6; /* Adjust for desired transparency */
        transform: translateY(65%)
    }
}

@media (max-width: 360px) {
    .about-us-full-width-image img {
        transform: translateY(80%)
    }
}


/*============================== RECREATIONAL & COMPETITIVE BOXING =========================*/

/* Custom Styles */
.card.text-bg-dark {
    background-color: black; /* Sets the background color of the text card to black */
}

.card.text-bg-dark .card-title {
    color: rgb(255, 199, 79); /* Sets the color of the icon in the card title to red */
    text-align: center;
}

/* Ensures cards are centered with a gap */
.row > .col-md-5:not(:last-child) {
    margin-right: 15px; /* Adds margin to the right of each card except the last one in a row */
}

.row > .col-md-5 {
    display: flex; /* Flex display to align items */
    justify-content: center; /* Center the cards horizontally */
}

.card-img-top {
    width: 100%; /* Full width of the card */
    height: auto; /* Maintain aspect ratio */
}

.card-icon {
    width: 70px; /* Adjust size of your icon */
    margin: auto; /* Center icon */
    margin-bottom: 5px;
    display: block;
}

@media (max-width: 768px) {
    /* Adjusts layout for smaller screens */
    .row > .col-md-5:not(:last-child) {
        margin-right: 0; /* Removes the right margin for small screens */
        margin-bottom: 15px; /* Adds a bottom margin for stacking */
    }
}
